<header class="header">
  <div class="header__container container">
      <div class="header__logo-container">
          <img src="assets/images/logo/logo.png" alt="logo" class="header__logo">
      </div>
      <nav class="header__nav">
          <ul class="header__nav-list">
              <li class="header__nav-item">
                  <a href="#" class="header__nav-link">Главная</a>
              </li>
              <li class="header__nav-item">
                  <a href="#" class="header__nav-link">Автомобили</a>
              </li>
              <li class="header__nav-item">
                  <a href="#" class="header__nav-link">Бронирование авто</a>
              </li>
          </ul>
      </nav>
  </div>
</header>
<main class="main">
  <section class="info" id="info" [ngStyle]="bgPos">
      <div class="info__container container">
          <h1 class="info__title">Аренда премиальных автомобилей</h1>
          <p class="info__description">
              В нашем клубе имеется солидная коллекция спортивных автомобилей — от достаточно распространенных серийных машин до настоящего гоночного эксклюзива. Воспользуйтесь уникальной возможностью побывать за рулем настоящей легенды и узнать, на что она способна за пределами гоночной трассы!
          </p>
          <button class="info__button button" id="show-cars-button" (click)="scrollTo(carPark)">ПОСМОТРЕТЬ АВТОМОБИЛИ</button>
      </div>
  </section>

  <section class="car-park" id="car-park" #carPark>
      <div class="car-park__container container">
          <h2 class="car-park__title section__title">Наш автопарк</h2>
          <div class="car-park__toggle-container">
            <div [ngClass]="{active: category === 'sport'}" class="car-park__toggle" (click)="toggleCategory('sport')">Sport</div>
            <div [ngClass]="{active: category === 'luxury'}" class="car-park__toggle" (click)="toggleCategory('luxury')">Luxury</div>
          </div>
          <div class="car-park__cards-container">
              <div class="car-park__card car-card" *ngFor="let car of carsData">
                  <img src="{{car.image}}" alt="{{car.name}}" class="car-card__img">
                  <h3 class="car-card__title">{{car.name}}</h3>
                  <ul class="car-card__characteristics-list">
                      <li class="car-card__characteristic-item">
                          <img src="assets/images/icons/drive.png" alt="drive" class="car-card__characteristic-icon">
                          <h4 class="car-card__characteristic-title">Привод</h4>
                          <p class="car-card__characteristic-value">{{car.gear}}</p>
                      </li>
                      <li class="car-card__characteristic-item">
                          <img src="assets/images/icons/engine.png" alt="engine" class="car-card__characteristic-icon">
                          <h4 class="car-card__characteristic-title">Двигатель</h4>
                          <p class="car-card__characteristic-value">{{car.engine}} л.с</p>
                      </li>
                      <li class="car-card__characteristic-item">
                          <img src="assets/images/icons/seats.png" alt="seats" class="car-card__characteristic-icon">
                          <h4 class="car-card__characteristic-title">Кол-во мест</h4>
                          <p class="car-card__characteristic-value">{{car.places}}</p>
                      </li>
                  </ul>
                  <button class="car-card__book-button button" (click)="scrollTo(contact, car.name)">ЗАБРОНИРОВАТЬ</button>
              </div>
          </div>
      </div>
  </section>

  <section class="contact" id="contact" #contact>
      <div class="contact__container container">
          <div class="contact__description">
              <h2 class="contact__title section__title">Узнать цену и забронировать</h2>
              <p class="contact__text">Заполните данные, и мы перезвоним вам для уточнения всех деталей бронирования</p>
          </div>
          <form class="contact__form" [formGroup]="contactForm">
              <input type="text" placeholder="Ваше имя" class="contact__form-input input" id="name-input" formControlName="name">
              <input type="text" placeholder="Ваш телефон" class="contact__form-input input" id="phone-input" formControlName="phone">
              <input type="text" placeholder="Автомобиль, который вас интересует" class="contact__form-input input" id="car-input" formControlName="car">
              <button class="contact__form-button button" id="form-button" [disabled]="!contactForm.valid" (click)="validateFormInputs()">УЗНАТЬ ЦЕНУ</button>
          </form>
          <img src="assets/images/cars/rolls.png" alt="Rolls" class="contact__img" id="contact-img" [ngStyle]="trans">
      </div>
  </section>

  <footer class="footer">
      <div class="footer__container container">
          <div class="footer__logo-container">
              <img src="assets/images/logo/logo.png" alt="logo" class="footer__logo">
          </div>
          <div class="footer__copyright">Все права защищены</div>
      </div>
  </footer>
</main>